a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    padding-top: 20px;
    padding-left: 10px;
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

pre {
    background-color: inherit;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.container {
    display: table;

}

.area {
    display: table-row
}

.source, .rendered {
    display: table-cell;

}

.source {
    padding: 0 0 50px;
    width: 700px;
    overflow: hidden;
    background-color: #4D4D4D;
}

.source pre {
    color: #d0d4d7;

}

.rendered {
    overflow: hidden;
    padding-left: 25px;
}

code {
    font-family: monospace;
}
